<div class="container ">

    <div class="row contententAdverts">
        {{#each adverts}}

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well adverts">
                <p>{{advertId}}</p>
                <a href="/adverts/specificAdvert/{{advertId}}">
                    <div class="date primary">
                        <span class="adverts-date">Oct</span>
                        <span class="adverts-number">8</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="image">
                                <img src="/uploads/{{nameOfFile}}" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="adverts-details">
                                <h2>{{advertName}}</h2> 
                                <p>
                                    {{advertDescription}}
                                    {{contact}}
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}

    </div>


    <div class="buttonAddAdvertPlacement col-md-auto"><a href="/adverts/createAdvert" class="buttonAddAdvert">Add Advert!</a>
    </div>

</div>